/* Header */
.page-wrapper{
    position: relative;
    min-height: 100vh;
}
.nav-header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    left: 0%;
    right: 0%;
    top: 11px;
    bottom: 65.31%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1500px;
    height: 57px;
    z-index: 1;
}
/* Navigation */
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    height: 57px;
    margin-right: 270px;
    bottom: 3px;
}
.navbar li a {
    color: #222222;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    margin-right: 110px;
}
ul {
    list-style-type: none;
    text-align: right;
    margin: 0 auto;
    padding: 0;
}
li {
    display: inline;
}
.btn{
    position: fixed;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    left: 83%;
    right: 7%;
    top: 0%;
    bottom: 57.65%;
    text-decoration: underline;
    width:150px;
    height:83px;
    background: #222222;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .nav-header .navbar .btn{
        display: none;
   }
}
/* Logo */
.logo {
    position: absolute;
    left: 2.33%;
    right: 90.87%;
    top: 12.76%;
    bottom: 2.55%;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 5px 6px 6px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
body{
    font-size: 2rem;
    margin:0;
    padding: 0;
}
.home-header {
    width: 1500px;
    height: 857px;
    background-size: cover;
    background-image: url(images/Header\ image.png);
}
.home-background-image {
    left: 0.13%;
    right: 0%;
    top: 0%;
    bottom: 24.43%;
}
/* JUST */
.text-wrapper {
    position: absolute;
    left: 370px;
    right: 453px;
    top: 510px;
    bottom: 14px;
}
.text {
    font-family: "Century Gothic", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 288px;
    line-height: 353px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.triangle {
    width: 0;
    height: 0;
    border-top: 29px solid white;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    position: absolute;
    left: 685px;
    right: 685px;
    top: 794px;
    bottom: 34px;
}
.triangle2{
    width: 0;
    height: 0;
    border-top: 29px solid white;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    position: absolute;
    left: 685px;
    right: 685px;
    top: 1555px;
    bottom: 899px;
}
.divider-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 826px;
    bottom: 10px;
}
.divider-wrapper2{
    position: absolute;
    left: 0;
    right: 0;
    top: 1587px;
    bottom: 875px;
}
.divider{
    display: block;
    text-align: center;
    border: 1px solid white;
    width: 1428px;
    height: 0;
    position: relative;
}
.divider:before{
    content:'';
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 21px solid white;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    margin: 0 -21px;
    transform: scale(1,-1);
}
.divider:after{
    content:'';
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 21px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    margin: 0 -21px -2px -21px;
    z-index: 2;
    transform: scale(1,-1);
}
.content-wrapper{
    padding-bottom: 586px;
}
.info-btn-wrapper{
    background-color:white;
    width: 1500px;
    height: 378px;
}
.info-btn{
    border: none;
    color: white;
    cursor: pointer;
    background: #FFB800;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    left: 603px;
    top: 25px;
    width: 223px;
    height: 46px;
    position: relative;
    border-radius: 5px;
}
.product-wrapper{
    background-color:#29AAE1;
    width: 1500px;
    height: 683px;
}
.product-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.product-header{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-self: start;
    letter-spacing: -0.01em;
    color: #000000;
    margin-left: 110px;
    margin-bottom: -25px;
}
.product-image-wrapper{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin: 0;
}
.product-image-wrapper figcaption{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #000000;
}
.divider-lorem{
    position: absolute;
    width: 1500px;
    height: 115px;
    top: 1391px;
    bottom: 977px;
    background: rgba(255, 255, 255, 0.5);
}
.divider-text{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #000000;
}
.form-header{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.form-caption{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #222222;
}
.form-style{
    background: #FFFFFF;
    opacity: 0.75;
    border-radius: 5px;
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    border: none;
    width: 546px;
    height: 66px;
    color: rgba(34, 34, 34, 0.5);
}
.submit-btn{
    border: none;
    color: white;
    cursor: pointer;
    background: #FFB800;
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 37px;
    width: 267px;
    height: 66px;
    position: relative;
    border-radius: 5px;
}
footer{
    background-color: #222222;
    position: absolute;
    bottom: 0px;
    height: 586px;
    width: 1500px;
    margin: 0 auto;
    color: #999999;
}
.footer-wrapper{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    background-color: #222222;
}
.footer-col1{
    position: absolute;
    left: 202px;
    right: 1071px;
    top: 33px;
    bottom: 253px;
}
.footer-col2{
    position: absolute;
    left: 750px;
    right: 508px;
    top: 33px;
    bottom: 253px;
}
.footer-row{
    position: absolute;
    left: 205px;
    right: 0;
    top: 500px;
    bottom: 38px;
}
.footer-link-col{
    display: flex;
    align-items: left;
    letter-spacing: -0.01em;
    flex-direction: column;
    text-decoration: none;
    color: #999999;
    white-space: nowrap;
}
.footer-link-row{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    color: #999999;
}

